<%= form_for @profile do |f|%>
<div class="form-horizontal">
   <div class="form-group">
    <label class="col-sm-2 control-label">Realname</label>
    <div class="col-sm-6">
      <%= f.text_field :realname, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Company</label>
    <div class="col-sm-6">
      <%= f.text_field :company, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-6">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-6">
      <%= f.text_field :mobile, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Tel</label>
    <div class="col-sm-6">
      <%= f.text_field :telephone, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6">
      <%= f.text_field :www, class: 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">QQ</label>
    <div class="col-sm-6">
      <%= f.text_field :qq, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit :submit, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
<% end %>
