<h1>服务</h1>
<%=form_for :app_service,:html=>{:class=> "app_service_edit"}, :url=>{:controller=>"app_services",:action=>"create"} do |f| %>

  系统服务</br>
  <%@system_services.each do |sys|%>
    <%= sys.title%></br>
  <%end%>

  用户可选服务</br>
  <%@user_services.each do |service|%>
    <%if @app_services.include? service%>
      <%= check_box_tag 'service_ids[]', service.id, true %>
    <%else%>
      <%= check_box_tag 'service_ids[]', service.id %>
    <%end%>
      <%= service.title%></br>
  <%end%>
  <div class="actions">
    <%= f.submit "确认"%>
  </div>
<%end%>