<h1>请选择服务</h1>

<%=form_for :app_service,:html=>{:class=> "app_service_create"}, :url=>{:controller=>"app_services",:action=>"create"} do |f| %>
<ol>
  <%@services.each do |service|%>
    <li>
      <%if ['logins', 'users', 'passwords_requests'].include? service.title%>
        <%= check_box_tag 'service_ids[]', service.id, true %>
      <%else%>
        <%= check_box_tag 'service_ids[]', service.id %>
      <%end%>
       <%= service.title%>
    </li>
  <%end%>
</ol>
<%= hidden_field_tag 'app', @app.id  %>
  <div class="actions">
    <%= f.submit "确认"%>
  </div>
<%end%>