<h2 class = "form-signin-heading">Corgi</h2>

<%= form_for :user,:html=>{:class=> "form-signin"}, :url=>{:controller=>"logins",:action=>"login"} do |f| %>
    用户：<%= f.text_field :name, placeholder: 'name', class: 'form-control', required: true, autofocus: true%></br>
    密码：<%= f.text_field :password, placeholder: 'password', class: 'form-control', required: true, autofocus: true%></br>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember Me
  <div class="actions">
    <%= f.submit "登录"%>
     <%=link_to 'Register', new_user_path%>
  </div>
<%end%>
