<h1>修改密码</h1>
<head>
<script>
function myFunction(){
  var tb_password = document.getElementById("user_password");
  var new_password = document.getElementById("user_password_confirmation");
  tb_password.type = (tb_password.type == 'text') ? 'password' : 'text';
  new_password.type = (new_password.type == 'text') ? 'password' : 'text'
}
</script>
</head>
<%= form_for :user,:url=>{:controller=>"users",:action=>"change_password"} do |f| %>
  <label for="user_password">Old_Password</label></br>
  <input id="user_password" name= "password" type="password" /></br>

  <label for="user_password_confirmation">New_Password</label></br>
  <input id="user_password_confirmation" name="new_password" type="password" /></br>
  <label for="captcha">captcha</label>
<%= show_simple_captcha %></br>
  <input onclick="myFunction()" type="checkbox" name="show"/>show password<br/>
  <div class="actions">
    <%= f.submit "提交"%>
  </div>
<%end%>
