<h2 class = "form-signin-heading">Login</h2>
<%= form_for :user,:html=>{:class=> "form-signin"}, :url=>{:controller=>"users",:action=>"create"} do |f| %>
    <input class="form-control" id="user_name" name= "name" type="text" placeholder="user_name" required autofocus /></br>
    <input class="form-control" id="user_password" name="password" placeholder="password" type="password" required/></br>
    <input class="form-control" id="user_repassword" name="re_password" placeholder="re_password" type="re_password" required/></br>
    <input class="form-control" id="user_company" name="company" placeholder="user_company" type="user_company" required/></br>
    <input class="form-control" id="user_contact" name="contact_email" placeholder="user_contact" type="user_contact" required/></br>
  <input onclick="myFunction()" type="checkbox" name="show"/>show password<br/>
  <div class="actions">
    <%= f.submit "提交"%>
  </div>
<%end%>

</body>