<h1>新密码</h1>
<%= form_for :password_request,:url=>{:controller=>"password_requests",:action=>"new_password"} do |f| %>
  <input id="user_password" name= "change_password" type="text" /></br>
  <label for="captcha">captcha</label>
  <%=f.hidden_field :token, :value => @password_request.token%>
 <%= show_simple_captcha %></br>
    <div class="actions">
    <%= f.submit "change"%>
  </div></br>
<%end%>
