<div class='app_name'>
  <div class="row">
      <div class="col-md-4"><%=@app.name%></div>
      <div class="col-md-4"><%=link_to "修改App", edit_app_path%></div>
      <div class="col-md-4"><%= link_to "修改服务", app_app_services_path(app_id: @app.id)  %></div>
  </div>
  <p><%=current_user.email%> created at <%=@app.created_at%> | state: <%=@app.state%></p>
</div>
<div class='jumbotron'>
  <p>
    公司信息：<%=current_user.user_profile.company%> || 游戏种类：<%=@app.category%> || 游戏地址：<%=@app.www%>
  </p>

  <p>
    你当前已经选择<%=@app.app_services.count%>个服务
  </p>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <%@app.app_services.each do |ser|%>
        <th><%=link_to ser.service.title, service_details_app_path(id: @app.id, service_id: ser.service.id)%></th>
      <%end%>
    </tr> 
  </thead>
</table>

