<div class="btn-group">
  <button type="button" class="btn btn-default" id="btn-new">
    <span class="glyphicon glyphicon-plus"></span> New
  </button>
  <button type="button" class="btn btn-default" id="btn-remove">
    <span class="glyphicon glyphicon-minus"></span> Delete 
  </button>
  <button type="button" class="btn btn-default" id="btn-toggle">
    <span class="glyphicon glyphicon-ok"></span> Toggle
  </button>
  <%= form_tag '/apps/remove', id: 'remove_form', method: 'delete' do %>
  <%= hidden_field_tag :ids %>
  <% end %>
  <%= form_tag '/apps/toggle', id: 'toggle_form', method: 'put' do %>
  <%= hidden_field_tag :ids %>
  <% end %>
</div>
<br>
<br>

<div class= "table-responsive">
  <table class="table table-striped" id="apps_table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Created at</th>
        <th>State</th>
        <th>Manage</th>
      </tr>
    </thead> 
    <tbody>
    <%@app.each do |app|%>
    <tr>
      <td><%= check_box_tag 'app_ids[]', app.id %></td>
      <td><%=link_to app.name, app_path(id: app.id), class: ''%></td>
      <td><%=app.created_at%></td>
      <td><%=app.state%></td>
      <td><%=link_to "Edit", edit_app_path(id: app.id), class: 'btn btn-primary btn-sm'%></td>
    </tr>
    <%end%>
    </tbody> 
  </table>
</div>
