<p>
创建游戏：
</p>
<%= form_for @app do |f| %>
    游戏名称：<input class="form-control" id="user_apps" name= "name" type="text" placeholder="name" required autofocus /></br>
    游戏网址：<input class="form-control" id="user_apps" name= "www" type="text" placeholder="www.game.com" required autofocus /></br>
    游戏类别：<input class="form-control" id="user_apps" name= "category" type="text" placeholder="app" required autofocus /></br>
    游戏平台：<input class="form-control" id="user_apps" name= "platform" type="text" placeholder="diggerlab" required autofocus /></br>
    <%= hidden_field_tag(:user_id, current_user.id) %> 
  <div class="actions">
    <%= f.submit "下一步"%>
  </div>
<%end%>