<p>
创建游戏：
</p>
<%= form_for @app do |f| %>
    游戏名称：<%= f.text_field :name, placeholder: 'name', class: 'form-control', required: true, autofocus: true%></br>
    游戏网址：<%= f.text_field :www, placeholder: 'www.game.com', class: 'form-control', required: true, autofocus: true%></br>
    游戏类别：<%= f.text_field :category, placeholder: 'app', class: 'form-control', required: true, autofocus: true%></br>
    游戏平台：<%= f.text_field :platform, placeholder: 'diggerlab', class: 'form-control', required: true, autofocus: true%></br>
  <div class="actions">
    <%= f.submit "下一步"%>
  </div>
<%end%>