<%= render 'function' %>
<div class='use_services'>
  <%@app_services.each do |app_service|%>
    <div id="<%=app_service.service.code%>" class="service_detail">
    <ol>
    <%app_service.service.service_functions.each do |f| %>
        <li><h3><%=f.title %></h3></li>
        <p class=""> API EndPoint: <%=f.api %></p>
        <p class=""> 使用说明：</p>
        <p><%=f.instruction %></p>
    <%end%>
    </ol>
    </div>
  <%end%>

</div>

<script language="javascript"> 
$(document).ready(
  function(){
    $("#functions").find('a').click(function(){
      $(".service_detail").hide();
      $('#'+$(this).attr('class')).show();
      return false;
  });

  $("#functions").find('a').first().click();
});


</script>